# This is a basic workflow to help you get started with Actions

name: CI
#on:
#  schedule:
#    - cron:  "05 * * * *"
#jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Ready to Go
      run: |
        python3 -m pip install -U pip
        mkdir /home/runner/.config/PyFunceble
        pip3 install setuptools
        pip3 install wheel
        pip3 install pyfunceble
        rm -rf deadallow
        wget --no-check-certificate -t 1 -T 10 -O allow https://raw.githubusercontent.com/neodevpro/neodevhost/master/checkallow
        cp PyFunceble.yaml /home/runner/.config/PyFunceble/.PyFunceble.yaml
        python3 checkallow.py
        rm -rf allow

    - name: Git Auto Commit
      uses: stefanzweifel/git-auto-commit-action@v4.4.1
      with:
           commit_message: Auto Update
           branch: master
           commit_options: '--no-verify --signoff'
           repository: .
           commit_user_name: FusionPlmH
           commit_user_email: leemenhin@gmail.com
